@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-primary-gradient {
    background: linear-gradient(to right, #E8E724, #C6C51D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
